.App {
    text-align: center;
    background-color: aliceblue;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: stretch;
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-left: 10px;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

a {
    color: #002a7e;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #00746a;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.breadcrumb-container {
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.main {
    width: 1024px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    align-self: center;
    margin-top: 20px;
}

.content {
    display: flex;
    justify-content: flex-start;
}

.text {
    margin: 20px 60px;
}